@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
.boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#WINdialog{
    border-radius:25px;
    border: 5px solid rgb(97, 97, 97);
    background-color: #a4a3a4;
    height: 70%;
    width: 30%;
}
.divDialog{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    
}
.divDialog img{
    user-select: none;
    pointer-events: none;
    width: 100%;
}
.divDialog h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    margin: 0;
    margin-top: 10px;
    
}
.divDialog button{
    border: none;
    border: white 2px solid;
    width: 70%;
    height: 15% ;
    margin-top: 25px;
    border: #5c5c5c 2px solid;
    border-radius: 25px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.divDialog button:hover{
    background-color: #5c5c5c;
}

.divDialog::backdrop{
    backdrop-filter: blur(2px);
}


.P_board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.P_board .P_board_letters{
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    margin-left: 25px;
}
.P_board .P_board_letters p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 5px;
}
.P_board .P_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.P_board .P_board_numbers{
    display: grid;
    margin-right: 5px;
    grid-template-rows: repeat(10, 3.25rem);
}
.P_board .P_board_numbers p{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.P_board .P_board_grid{
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    grid-template-rows: repeat(10, 3.25rem);
    border: white 2px solid;
    border-radius: .1rem;
}
.P_board .P_board_grid .P_cell{
    border: white 1px solid;
}
.P_board .P_bottom .P_text{
    display: flex;
    align-self: flex-start;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
}
.P_board .P_bottom .P_shipsHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.P_board .P_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.carrierICON{
    height: 136px;
}
.battleshipICON{
    height: 108.8px;
}
.cruiserICON, .submarineICON{
    height: 81.6px;
}
.destroyerICON{
    height: 54.4px;
}
/*------------------------------------------------/*/

.CPU_board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CPU_board .CPU_board_letters{
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    margin-left: 25px;
}
.CPU_board .CPU_board_letters p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin-bottom: 5px;
}
.CPU_board .CPU_middle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.CPU_board .CPU_board_numbers{
    display: grid;
    margin-right: 5px;
    grid-template-rows: repeat(10, 3.25rem);
}
.CPU_board .CPU_board_numbers p{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CPU_board .CPU_board_grid{
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    grid-template-rows: repeat(10, 3.25rem);
    border: white 2px solid;
    border-radius: .1rem;
}
.CPU_board .CPU_board_grid .CPU_cell{
    border: white 1px solid;
}
.CPU_board .CPU_board_grid .CPU_cell:hover{
    background-color: #5c5c5c;
}

.CPU_board .CPU_bottom .CPU_text{
    display: flex;
    align-self: flex-start;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
}
.CPU_board .CPU_bottom .CPU_shipsHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}
.CPU_board .CPU_bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.clicked{
    background-color: #5c5c5c;
    pointer-events:none;
}
.fire{
    background-color: #ff0000;
    pointer-events:none;
}

.hiddenSHIP{
    display: none;
}
.sunked{
    opacity: 80%;
}
.sunkedICON{
    filter:  invert(40%) sepia(32%) saturate(4888%) hue-rotate(338deg) brightness(107%) contrast(109%);
    animation: shake 1s ease-in-out; /* Apply the shake animation */
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}