@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body{
    background-color: #70A8FE;  
    margin: 0;
}
.title{
    display: flex;
    justify-content: center;
    background-color: rgb(194, 194, 194);
    margin: 0;
    padding: 5px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    margin-bottom: 20px;
    margin: 0;
}
.mainBoard{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.gameboard .topLetters{
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    margin-left: 50px;
}
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bottom .leftNumbers{
    display: grid;
    grid-template-rows: repeat(10, 3.25rem);
    margin-right: 20px;
}
.bottom .leftNumbers p{
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 400;
    font-family: "VT323", monospace;
    margin: 0;
    font-size: 30px;
}
.gameboard .topLetters p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-family: "VT323", monospace;
    font-size: 30px;
    margin-bottom: 15px;
}
.boatsPicker{
    display: flex;
    gap: 45px;
    flex-direction: row;
    padding: 35px;
    justify-items: center;
    justify-content: space-around;
    background-color: white;
}
.boatsPicker .shipBLOCK{
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: end;
    
}
.boatsPicker .shipBLOCK .shipName{
    font-weight: bolder;
    font-family: "VT323", monospace;    
    font-size: 30px;
    font-style: normal; 
    margin: 15px;
}
.boatsPicker .shipBLOCK .tiles{
    font-weight: 400;
    font-family: "VT323", monospace;
    font-size: 30px;
    font-style: normal; 
    margin: 0;
}
.board {
    display: grid;
    grid-template-columns: repeat(10, 3.25rem);
    grid-template-rows: repeat(10, 3.25rem);
    border: white 2px solid;
    border-radius: .1rem;
}
.carrierSVG{
    height: 257px;
}
.battleshipSVG{
    height: 207px;
}
.cruiserSVG, .submarineSVG{
    height: 154px;
}
.destroyerSVG{
    height: 98px;
}

.cell {
    display: flex;
    justify-content: center;
    border: rgb(209, 221, 253) 1px solid;
}
.boatsPicker .shipBLOCK .dragging{
    filter: invert(47%) sepia(93%) saturate(1346%) hue-rotate(159deg) brightness(91%) contrast(101%);
}
.outRange{
    background-color: red

}
.colorChange{
    background-color: rgba(54, 29, 145, 0.699);
}
.inFront{
    z-index: 5;
}
.hidden {
    opacity: 20%;
}
.rotate{
    transform: rotate(-90deg);
}